*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  
  .mainpagelight {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .clocklight {
    position: relative;
    background-color: #fff;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(clock.png);
    background-repeat: no-repeat;
    border: #fff solid 10px;
    border-radius: 50%;
    background-size: 100%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(0,0,0,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
             
  }
  
  .clocklight::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
    z-index: 100;
  }
  
  .hourlight, .minutelight, .secondlight {
    position: absolute;
    transform-origin: bottom;
  }
  
  .hourlight {
    width: 6px;
    height: 65px;
    top: 31%;
    background-color: rgb(18, 186, 192);
    z-index: 10;
  }
  
  .minutelight {
    width: 4px;
    height: 100px;
    top: 20.70%;
    background-color: black;
    z-index: 11;
  }
  
  .secondlight {
    width: 2px;
    height: 135px;
    top: 10.5%;
    background-color: orangered;
    z-index: 12;
  }